.folder-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-folder {
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  max-width: 120px;
}

.item-title :hover {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-selected{
    border:solid 1px;
    border-color: red;
    border-radius:10px;
}
.progress {
  height: 10px;
  width: 100%;
  margin-top: 6px;
}
.saw {
  background-color: #4bb9f8
}
