/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.vertical-align {
  align-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 1;
}

.flex-3 {
  flex: 1;
}

.flex-4 {
  flex: 1;
}
.pointer{
    cursor:pointer;
}
.app-container{
    margin-left: 10px;
    margin-right: 10px;
}
.item-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.link{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
