.command-container {
  display: flex;
  margin-top: -40px;
  z-index: 100;
  position: relative;
  color: white;
}



.timeline-command {
  flex: 1;
  display: flex;
}

.range-selector-container {
  flex: 10;
  display: flex;
}

.range-selector {
  flex: 1;
}

.current-time {
  width: 135px;
}

.screen-command {
  flex: 1;
}

.player {
  z-index: -1;
  width: 100%
}

.volume {
  width: 100px;
  border-left: solid 1px white;
  border-right: solid 1px white;
  padding-right: 5px;
}

.title-content {
  /*visibility:visible;*/
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  z-index: 100;
  position: absolute;
  color: white;
}

.spacing-button {
  margin-left: 5px;
  margin-right: 5px;
}
/*.title-content :hover {
  visibility: visible;
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  z-index: 100;
  position: absolute;
  color: white;
}*/
