<div class="video-container" [ngClass]="{'video-container-reduce': reduce, 'video-container': !reduce}">
  <div *ngIf="seeking" class="spinner-container">
    <div class="personnal-spinner">
      <i class="fas fa-spinner fa-6x"></i>
    </div>
  </div>

  <div class="title-content vertical-align">
    <div class="item-title flex-1">{{title}}</div>
    <div class="close pointer"><i (click)="close()" class="fas fa-times fa-2x"></i></div>
  </div>

  <video (click)="playPause()" class="player" autoplay [src]="safePath"></video>
  <div *ngIf="videoElement" class="command-container vertical-align">
    <div class="timeline-command vertical-align">

      <!--backward-->
      <div class="spacing-button">
        <i (click)="backward()" class="pointer fas fa-backward fa-2x"></i>
      </div>
      <!--play-->
      <div *ngIf="statPause" class="spacing-button">
        <i (click)="play()" class="pointer fas fa-play-circle fa-2x"></i>
      </div>
      <!--pause-->
      <div *ngIf="statPlay" class="spacing-button">
        <i (click)="pause()" class="pointer fas fa-pause fa-2x"></i>
      </div>
      <!--forward-->
      <div class="spacing-button">
        <i (click)="forward()" class="pointer fas fa-forward fa-2x"></i>
      </div>

      <!--volume-->
      <div class="vertical-align flex volume">
        <div class="pointer spacing-button" (click)="muteSound()">
          <i *ngIf="videoElement.volume == 0 || videoElement.muted" class="fas fa-volume-mute fa-2x"></i>
          <i *ngIf="!videoElement.muted && videoElement.volume > 0 && videoElement.volume < 0.5" class="fas fa-volume-down fa-2x"></i>
          <i *ngIf="!videoElement.muted && videoElement.volume >= 0.5" class="fas fa-volume-up fa-2x"></i>
        </div>
        <div>
          <input type="range"
                 min="0"
                 [max]="1"
                 step="0.01"
                 [(ngModel)]="videoElement.volume"
                 class="pointer form-control-range">
        </div>

      </div>
    </div>
    <div class="range-selector-container vertical-align spacing-button">
      <div class="range-selector">
        <input type="range"
               min="0"
               [max]="videoElement.duration"
               [(ngModel)]="videoElement.currentTime"
               class="pointer form-control-range">
      </div>
      <div class="current-time spacing-button">
        {{getTime(videoElement.currentTime)}} / {{getTime(videoElement.duration)}}
      </div>
    </div>
    <div class="screen-command flex">
      <div>
        <i (click)="fullScreen()" class="pointer fas fa-expand fa-2x"></i>
        <!--<i *ngIf="" class="fas fa-compress fa-2x"></i>-->
      </div>
      <div>
        <!--<i class="fas fa-compress-arrows-alt"></i>-->
        <i (click)="reduceVideo()" class="pointer fas fa-compress-arrows-alt fa-2x"></i>
      </div>
    </div>
  </div>
</div>
