.command-container {
  display: flex;
  margin-top: -40px;
  z-index: 100;
  position: relative;
  color: white;
  visibility: hidden;
}



.timeline-command {
  flex: 1;
  display: flex;
}

.range-selector-container {
  flex: 10;
  display: flex;
}

.range-selector {
  flex: 1;
}

.current-time {
  width: 135px;
}

.screen-command {
  flex: 1;
  justify-content: space-evenly;
}

.player {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.volume {
  width: 100px;
  border-left: solid 1px white;
  border-right: solid 1px white;
  padding-right: 5px;
}

.title-content {
  visibility: hidden;
  display: flex;
  /*margin-top: 5px;*/
  /*margin-left: 5px;*/
  z-index: 100;
  position: absolute;
  color: white;
  display: flex;
  width: 100%;
}

.spacing-button {
  margin-left: 5px;
  margin-right: 5px;
}

.video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  overflow: hidden;
}

.video-container-reduce {
  width: 510px;
  height: 290px;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: black;
  overflow: hidden;
}

.close {
  margin-right: 5px;
  color: white;
}


.video-container:hover .command-container {
  display: flex;
  margin-top: -40px;
  z-index: 100;
  position: relative;
  color: white;
  visibility: visible;
}

.video-container:hover .title-content {
  visibility: visible;
  display: flex;
  /*margin-top: 5px;*/
  /*margin-left: 5px;*/
  z-index: 100;
  position: absolute;
  color: white;
  display: flex;
  width: 100%;
}
.video-container-reduce:hover .command-container {
  display: flex;
  margin-top: -40px;
  z-index: 100;
  position: relative;
  color: white;
  visibility: visible;
}
.video-container-reduce:hover .title-content {
  visibility: visible;
  display: flex;
  /*margin-top: 5px;*/
  /*margin-left: 5px;*/
  z-index: 100;
  position: absolute;
  color: white;
  display: flex;
  width: 100%;
}
.spinner-container {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-color: rgba(195, 180, 255, 0.5);*/
  text-align: center;
}

.personnal-spinner {
  margin: auto;
  position: relative;
  top: 45%;
  color: white;
  -webkit-animation: rotating 2s linear infinite;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}
